/* styles.css */

.container-danhmuc {
    /* width: 95%; */
    /* margin: 0 auto; */
    margin-right: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

h1,
h2 {
    text-align: center;
}

.shopping-cart,
.cart-summary {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    width: 50px;
}

.item-info p {
    margin: 0;
    font-size: 14px;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #888888;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #020202;
}

.quantity input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.price {
    margin: 0 10px;
}

.remove-btn {
    background-color: #ff7b86;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.remove-btn:hover {
    background-color: #c82333;
}

.clear-btn {
    background-color: #ff7b86;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.clear-btn:hover {
    background-color: #c82333;
}

.cart-summary {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
}

.cart-summary p {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.cart-summary h2 {
    font-size: 40px;
    font-weight: bold;
}

.order-btn {
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
}

.order-btn:hover {
    background-color: black;
    color: white;
}

select {
    padding: 5px;
    margin-left: 10px;
}